<div class="wayforpay-confirmation">
  <h2 class="wayforpay-confirmation__title">{% trans %}Payment process is {{ status }}{% endtrans %}</h2>
  {% if order_reference %}
  <div class="wayforpay-confirmation__field wayforpay-confirmation__field--order-reference">
    <div class="wayforpay-confirmation__field-label">{% trans %}Order reference{% endtrans %}</div>
    <div class="wayforpay-confirmation__field-value"> {{ order_reference }}</div>
  </div>
  {% endif %}
  {% if amount %}
  <div class="wayforpay-confirmation__field wayforpay-confirmation__field--amount">
    <div class="wayforpay-confirmation__field-label">{% trans %}Amount paid{% endtrans %}</div>
    <div class="wayforpay-confirmation__field-value">{{ amount }} {{ currency }}</div>
  </div>
  {% endif %}
  {% if amount %}
  <div class="wayforpay-confirmation__text">{{ text }}</div>
  {% endif %}
</div>
